.pesquisa-container{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pesquisa-container input{
    position: relative;
    width: 80%;
    height: 50%;
    font-size: 1.5rem;
    border: 1px solid black;
    border-radius: 10px;
    outline: none;
    padding: 10px;
    padding-left: 12%;
}

.pesquisa-container::before{
    content: '\1F50D';
    position: absolute;
    left: 10%;
    font-size: 1.5rem;
    background-color: rgb(128, 128, 128);
    width: 100px;
    height: 50px;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px 0px 0px 10px;
}